/* .grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 1px;
}

.row {
    display: flex;
} */

/* .start {
    background-color: #00ff00;
}

.end {
    background-color: #ff0000;
}

.obstacle {
    background-color: #000000;
} */
